/* Global variables */
:root {
	/* Colors */
	--unaoc-100:#0D9EEC;
	--bbtg-100:#25243A;
	--iac-100:#F2E600;
	--choices-100:#A82D12;
	--newschool-100:#E82E21;
	--sunyalbany-100:#46166b;
	--unbank-100:#0F4262;
	--potteryplace-100:#F2E4FC;
	--myengname-100:#FB5353;

	/* pill colors */
	--html5-100: #F06529;
	--css3-100: #2965f1;
	--python-100:#4584b6;
	--js-100: #F0DB4F;
	--java-100:#ED1D25;
	--ruby-100:#cc0000;
	--jquery-100:#0769ad;
	--php-100:#474A8A;
	--node-100:#3C873A;
	--react-100:#61DBFB;
	--angular-100:#a6120d;
	--sql-100:#00758F;
	--pinescript-100:#00B453;
	--tailwind-100:#39A7A6;
	--sass-100:#cc6699;
	--twig-100:#86A41B;
	--bootstrap-100:#6C10ED;
	--google-100:#4285F4;
	--peoplesoft-100:#f80000;
	--github-100:#333333;
	--adobe-100:#ED2224;
	--wordpress-100:#21759b;
	--drupal-100:#0073BA;
	--joomla-100:#E4B645;
	--astrojs-100:#FF5D01;


/* pill colors end */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	--accent-light: #c561f6;
	--accent-regular: #4d4699;
	--accent-dark: #1c0056;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	/* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.35rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Oxygen', var(--font-system);
	--font-brand: 'Exo 2', var(--font-system);

	/* Transitions */
	--theme-transition: 0.5s ease-in-out;
}
.highlight-eng{
	background-color:var(--myengname-100);
	padding:1rem;
	border-radius:1rem;
	-webkit-border-radius:1rem ;
	-moz-border-radius:1rem ;
	-ms-border-radius:1rem ;
	-o-border-radius:1rem ;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}
.highlight-unaoc{
	background-color:var(--unaoc-100);
	padding:1rem;
	border-radius:1rem;
	-webkit-border-radius:1rem ;
	-moz-border-radius:1rem ;
	-ms-border-radius:1rem ;
	-o-border-radius:1rem ;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.highlight:hover{
	background-color:var(--accent-regular);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;
	--accent-light: #0b008a;
	--accent-regular: #8176FF;
	--accent-dark: #5d4fff
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-dark);

	--gradient-stop-1: #8176FF;
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-999);
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}

/* Lightbox CSS */
.lightbox-display-topright{position:absolute;right:0;top:0; padding:1rem;}
.lightbox-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.lightbox-xlarge{font-size:24px!important}.lightbox-xxlarge{font-size:36px!important}.lightbox-xxxlarge{font-size:48px!important}.lightbox-jumbo{font-size:64px!important}
.lightbox-display-topright{position:absolute;right:0;top:0}
.lightbox-modal-content{margin:0 10px;}.lightbox-modal{padding-top:30px} 
@media (max-width:768px){.lightbox-modal-content{width:500px}.lightbox-modal{padding-top:50px}}
@media (min-width:993px){.lightbox-modal-content{width:900px}.lightbox-hide-large{display:none!important}.lightbox-sidebar.lightbox-collapse{display:block!important}}
.lightbox-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.lightbox-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.lightbox-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
